.title{
    font-size: 30px;
}

.idIcon{
    margin-left: 120px;
}

.nameIcon{
    margin-left:94px;
}

.priceIcon{
    margin-left:107px;
}

.inStockIcon{
    margin-left:35px;
}

.manufacturerIcon{
    margin-left:63px;
}

.typeIcon{
    margin-left:71px;
}

.urlIcon{
    margin-left:107px;
}

.emailIcon{
    margin-left:94px;
}

.passwordIcon{
    margin-left:57px;
}

.firstNameIcon{
    margin-left:80px;
}

.lastNameIcon{
    margin-left:99px;
}

.addressIcon{
    margin-left:90px;
}

.usernameIcon{
    margin-left: 71px;
}

.cityIcon{
    margin-left: 104px;
}

.countryIcon{
    margin-left: 107px;
}

.zipcodeIcon{
    margin-left: 67px;
}

.cartButton{
    left: 25px;
    width: 200px;
    font-size: 20px;
}

.confirmText{
    font-size: 20px;
}

.menuIcons{
    background-color: #ffcccc;
}

.toolbar{
    color: lightgrey;
}

.row{
    color: #ffcccc;
}
 
.title{
    color:#ffcccc;
}
 
.card-body{
    color:#ffcccc;
}
 
.btn-block-btn-primary{
    color:#ffcccc;
}
 
.card-product-grid{
    width: 10;
    height: 10;
}
