<!DOCTYPE html>

<!-- toolbar -->
<mat-toolbar class="toolbar">
    <button mat-fab class="menuIcons" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu" class="mat-menu-size">
      <mat-list>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="onImbracaminte()"><mat-icon>checkroom</mat-icon>    Imbracaminte</button></mat-list-item>
        <mat-divider class="cart-size"></mat-divider>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="onJucarii()"><mat-icon>toys</mat-icon>    Jucarii</button></mat-list-item>
        <mat-divider class="cart-size"></mat-divider>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="onEchipamente()"><mat-icon>sports_basketball</mat-icon>    Echipamente sportive</button></mat-list-item>
        <mat-divider class="cart-size"></mat-divider>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="onCarti()"><mat-icon>book</mat-icon>    Carti</button></mat-list-item>
        <mat-divider class="cart-size"></mat-divider>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="onGaming()"><mat-icon>sports_esports</mat-icon>    Gaming</button></mat-list-item>
        <mat-divider class="cart-size"></mat-divider>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="onTelefoane()"><mat-icon>phone_iphone</mat-icon>    Telefoane</button></mat-list-item>
        <mat-divider class="cart-size"></mat-divider>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="onLaptopuri()"><mat-icon>laptop</mat-icon>    Laptopuri</button></mat-list-item>
      </mat-list>
    </mat-menu>

    <span>&nbsp;&nbsp;</span>
    <button mat-icon-button [matMenuTriggerFor]="cart"><mat-icon class="blackColor">shopping_cart</mat-icon></button>
    <mat-menu #cart="matMenu" class="cart-size">
      {{resetTotal()}}
      <mat-list class="cart-size">
        <li *ngFor="let item of cartItems">
          <mat-list-item>
            <button mat-icon-button><mat-icon (click)="removeCartItem(item)">delete</mat-icon></button>&nbsp;&nbsp;&nbsp;
            {{item.name}}: {{item.price}} RON
          </mat-list-item>
          <mat-divider class="cart-size"></mat-divider>
        </li>
        {{calculateTotal()}}
        <mat-list-item>Total plata: {{suma}} RON</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <span>&nbsp;&nbsp;</span>
      <button mat-raised-button class="cartButton" *ngIf="loggedIn" (click)="triggerModal(modalConfirm); resetTotal(); resetCart()">Comanda&nbsp;<mat-icon>payments</mat-icon></button>
      <ng-template #modalConfirm let-modal>
        <div class="modal-body confirmText">
          Comanda a fost plasata
        </div>
      </ng-template>
      <button mat-raised-button class="cartButton" *ngIf="!loggedIn" (click)="triggerModal(modalAddress)">Comanda&nbsp;<mat-icon>payments</mat-icon></button>
      <ng-template #modalAddress let-modal>
        <div class="modal-header">
          <h4 class="modal-title title button-text" id="modal-basic-title">Introduceti adresa de livrare</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addressForm">
            <div>
              <label>
                Adresa
                <mat-icon class="addressIcon">location_on</mat-icon>
              </label>
              <input type="text" formControlName="address" class="formAllign" [ngClass]="{ 'is-invalid':addressCheck.address.errors }" />
              <div *ngIf="addressCheck.address.errors" class="invalid-feedback">
                  <div *ngIf="addressCheck.address.errors.required">Address is required</div>
              </div>
            </div>
            <div>
              <label>
                Oras
                <mat-icon class="cityIcon">location_city</mat-icon>
              </label>
              <input type="text" formControlName="city" class="formAllign" [ngClass]="{ 'is-invalid':addressCheck.city.errors }" />
              <div *ngIf="addressCheck.city.errors" class="invalid-feedback">
                  <div *ngIf="addressCheck.city.errors.required">City is required</div>
              </div>
            </div>
            <div>
              <label>
                Tara
                <mat-icon class="countryIcon">flag</mat-icon>
              </label>
              <input type="text" formControlName="country" class="formAllign" [ngClass]="{ 'is-invalid':addressCheck.country.errors }" />
              <div *ngIf="addressCheck.country.errors" class="invalid-feedback">
                  <div *ngIf="addressCheck.country.errors.required">Country is required</div>
              </div>
            </div>
            <div>
              <label>
                Cod postal
                <mat-icon class="zipcodeIcon">numbers</mat-icon>
              </label>
              <input type="text" formControlName="zipcode" class="formAllign" [ngClass]="{ 'is-invalid':addressCheck.zipcode.errors }" />
              <div *ngIf="addressCheck.zipcode.errors" class="invalid-feedback">
                  <div *ngIf="addressCheck.zipcode.errors.required">Zip code is required</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class = "btn" type = "submit" (click) = "triggerModal(modalConfirm); resetTotal(); resetCart()"><mat-icon class="icons">send</mat-icon></button>
        </div>
      </ng-template>
    </mat-menu>

    <form [formGroup]="searchForm">
        <div class="center">
            <input searched="searched" type="text" formControlName="searched" placeholder="Cauta" class="search">
            <label for="searched">
              <button mat-icon-button (click) = "onSearch()" class="blackColor">
                  <mat-icon>search</mat-icon>
              </button>
          </label>
        </div>
    </form>    

    <button mat-button [matMenuTriggerFor]="modify" class="button-text" *ngIf="showCrud">Administreaza</button>
    <mat-menu #modify="matMenu" class="mat-modify-size">
      <mat-list>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="triggerModal(modalDataAdd)"><mat-icon>add</mat-icon>    Adauga produs</button></mat-list-item>
        <ng-template #modalDataAdd let-modal>
            <div class="modal-header">
              <h4 class="modal-title title button-text" id="modal-basic-title">Adauga un produs</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="addForm">
                <div>
                    <label for="id">
                        Id
                        <mat-icon class="idIcon">remember_me</mat-icon>
                    </label>
                    <input type="number" formControlName="id" class="formAllign" [ngClass]="{ 'is-invalid': addCheck.id.errors }" />
                    <div *ngIf="addCheck.id.errors" class="invalid-feedback">
                      <div *ngIf="addCheck.id.errors.required">ID is required</div>
                    </div>
                </div>
                <div>
                  <label for="type">
                      Categorie
                      <mat-icon class="typeIcon">category</mat-icon>
                  </label>
                  <input type="text" formControlName="type" class="formAllign" [ngClass]="{ 'is-invalid': addCheck.type.errors }" />
                  <div *ngIf="addCheck.type.errors" class="invalid-feedback">
                    <div *ngIf="addCheck.type.errors.required">Type is required</div>
                  </div>
                </div>
                <div>
                    <label for="name">
                        Nume
                        <mat-icon class="nameIcon">badge</mat-icon>
                    </label>
                    <input type="text" formControlName="name" class="formAllign" [ngClass]="{ 'is-invalid': addCheck.name.errors }" />
                    <div *ngIf="addCheck.name.errors" class="invalid-feedback">
                      <div *ngIf="addCheck.name.errors.required">Name is required</div>
                    </div>
                </div>
                <div>
                    <label for="price">
                        Pret
                        <mat-icon class="priceIcon">attach_money</mat-icon>
                    </label>
                    <input type="number" formControlName="price" class="formAllign" [ngClass]="{ 'is-invalid': addCheck.price.errors }" />
                    <div *ngIf="addCheck.price.errors" class="invalid-feedback">
                      <div *ngIf="addCheck.price.errors.required">Price is required</div>
                    </div>
                </div>
                <div>
                    <label for="inStock">
                        Produse in stoc
                        <mat-icon class="inStockIcon">inventory</mat-icon>
                    </label>
                    <input type="number" formControlName="inStock" class="formAllign" [ngClass]="{ 'is-invalid': addCheck.inStock.errors }" />
                    <div *ngIf="addCheck.inStock.errors" class="invalid-feedback">
                      <div *ngIf="addCheck.inStock.errors.required">Stock is required</div>
                    </div>
                </div>
                <div>
                    <label for="manufacturer">
                        Producator
                        <mat-icon class="manufacturerIcon">store</mat-icon>
                    </label>
                    <input type="text" formControlName="manufacturer" class="formAllign" [ngClass]="{ 'is-invalid': addCheck.manufacturer.errors }" />
                    <div *ngIf="addCheck.manufacturer.errors" class="invalid-feedback">
                      <div *ngIf="addCheck.manufacturer.errors.required">Manufacturer is required</div>
                    </div>
                </div>
                <div>
                  <label for="url">
                      URL
                      <mat-icon class="urlIcon">insert_link</mat-icon>
                  </label>
                  <input type="text" formControlName="url" class="formAllign" [ngClass]="{ 'is-invalid': addCheck.url.errors }" />
                  <div *ngIf="addCheck.url.errors" class="invalid-feedback">
                    <div *ngIf="addCheck.url.errors.required">URL is required</div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class = "btn" type = "submit" (click) = "onAdd(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
            </div>
          </ng-template>
        <mat-divider class="cart-size"></mat-divider>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="triggerModal(modalDataUpdate)"><mat-icon>edit</mat-icon>    Modifica produs</button></mat-list-item>
        <ng-template #modalDataUpdate let-modal>
            <div class="modal-header">
              <h4 class="modal-title title" id="modal-basic-title">Modifica un produs</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="updateForm">
                <div>
                  <label for="id">
                      Id
                      <mat-icon class="idIcon">remember_me</mat-icon>
                  </label>
                  <input type="number" formControlName="id" class="formAllign" [ngClass]="{ 'is-invalid': updateCheck.id.errors }" />
                  <div *ngIf="updateCheck.id.errors" class="invalid-feedback">
                    <div *ngIf="updateCheck.id.errors.required">ID is required</div>
                  </div>
                </div>
                <div>
                  <label for="type">
                      Categorie
                      <mat-icon class="typeIcon">category</mat-icon>
                  </label>
                  <input type="text" formControlName="type" class="formAllign" [ngClass]="{ 'is-invalid': updateCheck.type.errors }" />
                  <div *ngIf="updateCheck.type.errors" class="invalid-feedback">
                    <div *ngIf="updateCheck.type.errors.required">Type is required</div>
                  </div>
                </div>
                <div>
                    <label for="name">
                        Nume
                        <mat-icon class="nameIcon">badge</mat-icon>
                    </label>
                    <input type="text" formControlName="name" class="formAllign" [ngClass]="{ 'is-invalid': updateCheck.name.errors }" />
                    <div *ngIf="updateCheck.name.errors" class="invalid-feedback">
                      <div *ngIf="updateCheck.name.errors.required">Name is required</div>
                    </div>
                </div>
                <div>
                    <label for="price">
                        Pret
                        <mat-icon class="priceIcon">attach_money</mat-icon>
                    </label>
                    <input type="number" formControlName="price" class="formAllign" [ngClass]="{ 'is-invalid': updateCheck.price.errors }" />
                    <div *ngIf="updateCheck.price.errors" class="invalid-feedback">
                      <div *ngIf="updateCheck.price.errors.required">Price is required</div>
                    </div>
                </div>
                <div>
                    <label for="inStock">
                        Produse in stoc
                        <mat-icon class="inStockIcon">inventory</mat-icon>
                    </label>
                    <input type="number" formControlName="inStock" class="formAllign" [ngClass]="{ 'is-invalid': updateCheck.inStock.errors }" />
                    <div *ngIf="updateCheck.inStock.errors" class="invalid-feedback">
                      <div *ngIf="updateCheck.inStock.errors.required">Stock is required</div>
                    </div>
                </div>
                <div>
                    <label for="manufacturer">
                        Producator
                        <mat-icon class="manufacturerIcon">store</mat-icon>
                    </label>
                    <input type="text" formControlName="manufacturer" class="formAllign" [ngClass]="{ 'is-invalid': updateCheck.manufacturer.errors }" />
                    <div *ngIf="updateCheck.manufacturer.errors" class="invalid-feedback">
                      <div *ngIf="updateCheck.manufacturer.errors.required">Manufacturer is required</div>
                    </div>
                </div>
                <div>
                  <label for="url">
                      URL
                      <mat-icon class="urlIcon">insert_link</mat-icon>
                  </label>
                  <input type="text" formControlName="url" class="formAllign" [ngClass]="{ 'is-invalid': updateCheck.url.errors }" />
                  <div *ngIf="updateCheck.url.errors" class="invalid-feedback">
                    <div *ngIf="updateCheck.url.errors.required">URL is required</div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class = "btn" type = "submit" (click) = "onUpdate(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
            </div>
          </ng-template>
        <mat-divider class="cart-size"></mat-divider>
        <mat-list-item><button mat-button class="mat-menu-content" (click)="triggerModal(modalDataDelete)"><mat-icon>delete</mat-icon>    Sterge produs</button></mat-list-item>
        <ng-template #modalDataDelete let-modal>
            <div class="modal-header">
              <h4 class="modal-title title" id="modal-basic-title">Sterge un produs</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="deleteForm">
                  <div>
                    <label for="id">
                        Id
                        <mat-icon class="idIcon">remember_me</mat-icon>
                    </label>
                    <input id="Id" type="number" min="1" formControlName="id" class="formAllign">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class = "btn" type = "submit" (click) = "onDelete(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
            </div>
          </ng-template>
        </mat-list>
    </mat-menu>

    <span class="spacer"></span>
    <button mat-button *ngIf="loggedIn" class="button-text" routerLink="/profile" routerLinkActive="active">Profil</button>
    <span>&nbsp;&nbsp;</span>

    <button mat-fab class="menuIcons" (click)="triggerModal(modalDataLogin)" *ngIf="!loggedIn"><mat-icon>login</mat-icon></button>
        <ng-template #modalDataLogin let-modal>
            <div class="modal-header">
                <h4 class="modal-title title" id="modal-basic-title">Intra in cont</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
                </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="loginForm">
                <div>
                  <label for="email">
                    E-mail
                    <mat-icon class="emailIcon">email</mat-icon>
                  </label>
                  <input type="text" formControlName="email" class="formAllign" [ngClass]="{ 'is-invalid': loginCheck.email.errors }" />
                  <div *ngIf="loginCheck.email.errors" class="invalid-feedback">
                    <div *ngIf="loginCheck.email.errors.required">Email is required</div>
                    <div *ngIf="loginCheck.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div>
                  <label for="password">
                    Parola
                    <mat-icon class="passwordIcon">password</mat-icon>
                    <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </label>
                  <input matInput [type]="hide ? 'password' : 'text'" password="password" formControlName="password" class="formAllign" [ngClass]="{ 'is-invalid': loginCheck.email.errors }">
                  <div *ngIf="loginCheck.password.errors" class="invalid-feedback">
                    <div *ngIf="loginCheck.password.errors.required">Password is required</div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class = "btn" type = "submit" (click) = "onLogin(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
            </div>
            <div class="newAccount">
                Nu ai cont?
                <button mat-button class="button-text" (click) = "triggerModal(modalDataCreate)">Creeaza un cont nou</button>
                <ng-template #modalDataCreate let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title title" id="modal-basic-title">Creeaza un cont nou</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="newAccountForm">
                        <div>
                          <label>
                            Prenume
                            <mat-icon class="firstNameIcon">person</mat-icon>
                          </label>
                          <input type="text" formControlName="firstName" class="formAllign" [ngClass]="{ 'is-invalid':newaccountCheck.firstName.errors }" />
                          <div *ngIf="newaccountCheck.firstName.errors" class="invalid-feedback">
                              <div *ngIf="newaccountCheck.firstName.errors.required">First Name is required</div>
                          </div>
                        </div>
                        <div>
                            <label>
                              Nume
                              <mat-icon class="lastNameIcon">person</mat-icon>
                            </label>
                            <input type="text" formControlName="lastName" class="formAllign" [ngClass]="{ 'is-invalid':newaccountCheck.lastName.errors }" />
                            <div *ngIf="newaccountCheck.lastName.errors" class="invalid-feedback">
                                <div *ngIf="newaccountCheck.lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                        <div>
                          <label>
                            Username
                            <mat-icon class="usernameIcon">person_pin</mat-icon>
                          </label>
                          <input type="text" formControlName="username" class="formAllign" [ngClass]="{ 'is-invalid':newaccountCheck.username.errors }" />
                          <div *ngIf="newaccountCheck.username.errors" class="invalid-feedback">
                              <div *ngIf="newaccountCheck.username.errors.required">Username is required</div>
                          </div>
                        </div>
                        <div>
                            <label for="email">
                                E-mail
                                <mat-icon class="emailIcon">email</mat-icon>
                            </label>
                            <input type="text" formControlName="email" class="formAllign" [ngClass]="{ 'is-invalid': newaccountCheck.email.errors }" />
                            <div *ngIf="newaccountCheck.email.errors" class="invalid-feedback">
                              <div *ngIf="newaccountCheck.email.errors.required">Email is required</div>
                              <div *ngIf="newaccountCheck.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div>
                            <label for="password">
                                Parola
                                <mat-icon class="passwordIcon">password</mat-icon>
                                <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </label>
                            <input matInput [type]="hide ? 'password' : 'text'" password="password" formControlName="password" class="formAllign" [ngClass]="{ 'is-invalid': newaccountCheck.email.errors }">
                            <div *ngIf="newaccountCheck.password.errors" class="invalid-feedback">
                              <div *ngIf="newaccountCheck.password.errors.required">Password is required</div>
                              <div *ngIf="newaccountCheck.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div>
                          <label>
                            Adresa
                            <mat-icon class="addressIcon">location_on</mat-icon>
                          </label>
                          <input type="text" formControlName="address" class="formAllign" [ngClass]="{ 'is-invalid':newaccountCheck.address.errors }" />
                          <div *ngIf="newaccountCheck.address.errors" class="invalid-feedback">
                              <div *ngIf="newaccountCheck.address.errors.required">Address is required</div>
                          </div>
                        </div>
                        <div>
                          <label>
                            Oras
                            <mat-icon class="cityIcon">location_city</mat-icon>
                          </label>
                          <input type="text" formControlName="city" class="formAllign" [ngClass]="{ 'is-invalid':newaccountCheck.city.errors }" />
                          <div *ngIf="newaccountCheck.city.errors" class="invalid-feedback">
                              <div *ngIf="newaccountCheck.city.errors.required">City is required</div>
                          </div>
                        </div>
                        <div>
                          <label>
                            Tara
                            <mat-icon class="countryIcon">flag</mat-icon>
                          </label>
                          <input type="text" formControlName="country" class="formAllign" [ngClass]="{ 'is-invalid':newaccountCheck.country.errors }" />
                          <div *ngIf="newaccountCheck.country.errors" class="invalid-feedback">
                              <div *ngIf="newaccountCheck.country.errors.required">Country is required</div>
                          </div>
                        </div>
                        <div>
                          <label>
                            Cod postal
                            <mat-icon class="zipcodeIcon">numbers</mat-icon>
                          </label>
                          <input type="number" formControlName="zipcode" class="formAllign" [ngClass]="{ 'is-invalid':newaccountCheck.zipcode.errors }" />
                          <div *ngIf="newaccountCheck.zipcode.errors" class="invalid-feedback">
                              <div *ngIf="newaccountCheck.zipcode.errors.required">Zip code is required</div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button class = "btn" type = "submit" (click) = "onCreate(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
                    </div>
                  </ng-template>
            </div>
        </ng-template>
    <button mat-fab class="menuIcons" (click)="onLogout()" *ngIf="loggedIn"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<!-- images -->
<ngb-carousel *ngIf="images" class="carousel">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper carouselPics">
      <img [src]="images[0]">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]">
    </div>
  </ng-template>
</ngb-carousel>
<br>

<!-- filter 
<div class="sliderPosition"><p>Filtreaza in functie de pret</p>
  <mat-slider thumbLabel tickInterval="1000" step="50" min="0" max="1000" aria-label="units" class="sliderSize" (input)="valueChanged($event)"></mat-slider>
</div> -->

<!-- produse -->
<!-- ========================= SECTION PAGETOP ========================= -->
<!--
<section class="section-pagetop bg">
  <div class="container">
      <h2 class="title-page">Categorie de produse</h2>
      <nav>
      <ol class="breadcrumb text-white">
          <li class="breadcrumb-item"><a href="#">Toate produsele</a></li>
          <li class="breadcrumb-item"><a href="#">Cele mai cautate</a></li>
          <li class="breadcrumb-item active" aria-current="page">Acasa</li>
      </ol>  
      </nav>
  </div>  container //  
  </section> -->

  <!-- ========================= SECTION INTRO END// ========================= -->
 
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-content padding-y">
  <div class="container">
 
  <div class="row">
      <aside class="col-md-3">
         
  <div class="card">
      <article class="filter-group">
          <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Tipul produsului</h6>
              </a>
          </header>
          <div class="filter-content collapse show" id="collapse_1">
              <div class="card-body">
                  <ul class="list-menu">
                  <li><a href="#">Imbracaminte  </a></li>
                  <li><a href="#">Jucarii  </a></li>
                  <li><a href="#">Echipamente sportive  </a></li>
                  <li><a href="#">Carti </a></li>
                  <li><a href="#">Gaming</a></li>
                  <li><a href="#">Telefoane</a></li>
                  <li><a href="#">Laptopuri</a></li>
                  </ul>
 
              </div> <!-- card-body.// -->
          </div>
      </article> <!-- filter-group  .// -->
     
      <!-- filter -->
      <div class="sliderPosition"><p>Filtreaza in functie de pret</p>
      <mat-slider thumbLabel tickInterval="1000" step="50" min="0" max="1000" aria-label="units" class="sliderSize" (input)="valueChanged($event)"></mat-slider>
      </div>

     
  </div> <!-- card.// -->
 
      </aside> <!-- col.// -->
      <main class="col-md-9">
 
  <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
              <span class="mr-md-auto"></span>
              <select class="mr-2 form-control">
                  <option>De la mai mai mic</option>
                  <option>De la mai mai mare</option>
              </select>
              <div class="btn-group">
                  <a href="#" class="btn btn-outline-secondary" data-toggle="tooltip" title="List view">
                      <i class="fa fa-bars"></i></a>
                  <a href="#" class="btn  btn-outline-secondary active" data-toggle="tooltip" title="Grid view">
                      <i class="fa fa-th"></i></a>
              </div>
          </div>
  </header><!-- sect-heading -->
 
  <div class="row">
      <div class="col-md-4">
          <figure class="card card-product-grid">
              <div class="img-wrap">
                  <img src="assets/Crampoane.JPG" style="float:center;width:100px;height:100px;">
                  <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Vizualivare rapida</a>
              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                  <div class="fix-height">
                      <a href="#" class="title">Nike PHANTOM GT2 CLUB DF FG/MG</a>
                      <div class="price-wrap mt-2">
                          <span class="price">259,99 Lei</span>
                      </div> <!-- price-wrap.// -->
                  </div>
                  <a href="#" class="btn-block-btn-primary">Adauga in cos </a>  
              </figcaption>
          </figure>
      </div> <!-- col.// -->
 
      <div class="col-md-4">
          <figure class="card card-product-grid">
              <div class="img-wrap">
                  <img src="assets/Consola.JPG" style="float:center;width:100px;height:100px;">
                  <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Vizualivare rapida</a>
              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                  <div class="fix-height">
                      <a href="#" class="title">Consola Microsoft Xbox Series X, 1TB, Negru</a>
                      <div class="price-wrap mt-2">
                          <span class="price">4.72900 Lei</span>
                      </div> <!-- price-wrap.// -->
                  </div>
                  <a href="#" class="btn-block-btn-primary">Adauga in cos </a>  
              </figcaption>
          </figure>
      </div> <!-- col.// -->
 
      <div class="col-md-4">
          <figure class="card card-product-grid">
              <div class="img-wrap">
                  <img src="assets/Carte.JPG" style="float:center;width:100px;height:100px;">
                  <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Vizualivare rapida</a>
              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                  <div class="fix-height">
                      <a href="#" class="title">BIBLIOTECA DE LA MIEZUL NOPTII</a>
                      <div class="price-wrap mt-2">
                          <span class="price">32 Lei</span>
                      </div> <!-- price-wrap.// -->
                  </div>
                  <a href="#" class="btn-block-btn-primary">Adauga in cos </a>  
              </figcaption>
          </figure>
      </div> <!-- col.// -->
 
      <div class="col-md-4">
          <figure class="card card-product-grid">
              <div class="img-wrap">
                  <img src="assets/Hanorac.JPG" style="float:center;width:100px;height:100px;">
                  <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Vizualivare rapida</a>
              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                  <div class="fix-height">
                      <a href="#" class="title">Bluză de molton 'Adicolor' adidas</a>
                      <div class="price-wrap mt-2">
                          <span class="price">147,90 Lei</span>
                      </div> <!-- price-wrap.// -->
                  </div>
                  <a href="#" class="btn-block-btn-primary">Adauga in cos </a>  
              </figcaption>
          </figure>
      </div> <!-- col.// -->
 
      <div class="col-md-4">
          <figure class="card card-product-grid">
              <div class="img-wrap">
                  <img src="assets/laptop.JPG" style="float:center;width:100px;height:100px;">
                  <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Vizualivare rapida</a>
              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                  <div class="fix-height">
                      <a href="#" class="title">Laptop HP 250 G8</a>
                      <div class="price-wrap mt-2">
                          <span class="price">1.799 Lei</span>
                      </div> <!-- price-wrap.// -->
                  </div>
                  <a href="#" class="btn-block-btn-primary">Adauga in cos </a>  
              </figcaption>
          </figure>
      </div> <!-- col.// -->
 
      <div class="col-md-4">
          <figure class="card card-product-grid">
              <div class="img-wrap">
                  <img src="assets/Lego.jpg" style="float:center;width:100px;height:100px;">
                  <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Vizualivare rapida</a>
              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                  <div class="fix-height">
                      <a href="#" class="title">Nava de explorare a oceanului 60266 LEGO City</a>
                      <div class="price-wrap mt-2">
                          <span class="price">503,99 Lei</span>
                      </div> <!-- price-wrap.// -->
                  </div>
                  <a href="#" class="btn-block-btn-primary">Adauga in cos </a>  
              </figcaption>
          </figure>
      </div> <!-- col.// -->
 
      <div class="col-md-4">
          <figure class="card card-product-grid">
              <div class="img-wrap">
                  <img src="assets/S20.JPG" style="float:center;width:100px;height:100px;">
                  <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Vizualivare rapida</a>
              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                  <div class="fix-height">
                      <a href="#" class="title">Telefon SAMSUNG Galaxy S20</a>
                      <div class="price-wrap mt-2">
                          <span class="price">1.899,90 Lei</span>
                      </div> <!-- price-wrap.// -->
                  </div>
                  <a href="#" class="btn-block-btn-primary">Adauga in cos </a>  
              </figcaption>
          </figure>
      </div> <!-- col.// -->
 
  </div> <!-- row end.// -->