<!-- toolbar -->
<mat-toolbar>
    <button mat-fab color="warn" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu" class="mat-menu-size">
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="onImbracaminte()">Imbracaminte</button>
        <span>&nbsp;</span>
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="onJucarii()">Jucarii</button>
        <span>&nbsp;</span>
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="onEchipamente()">Echipamente sportive</button>
        <span>&nbsp;</span>
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="onCarti()">Carti</button>
        <span>&nbsp;</span>
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="onGaming()">Gaming</button>
        <span>&nbsp;</span>
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="onTelefoane()">Telefoane</button>
        <span>&nbsp;</span>
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="onLaptopuri()">Laptopuri</button>
    </mat-menu>

    <form [formGroup]="searchForm">
        <div class="center">
            <label for="searched">
                <button mat-icon-button (click) = "onSearch()">
                    <mat-icon>search</mat-icon>
                </button>
            </label>
            <input searched="searched" type="text" formControlName="searched" placeholder="Cauta">
        </div>
    </form>    

    <button mat-button [matMenuTriggerFor]="modify" class="button-text" *ngIf="showCrud">Administreaza</button>
    <mat-menu #modify="matMenu" class="mat-modify-size">
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="triggerModal(modalDataAdd)">Adauga produs</button>
        <ng-template #modalDataAdd let-modal>
            <div class="modal-header">
              <h4 class="modal-title title button-text" id="modal-basic-title">Adauga un produs</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="addForm">
                <div>
                    <label for="id">
                        Id
                        <mat-icon class="idIcon">remember_me</mat-icon>
                    </label>
                    <input id="Id" type="number" min="1" formControlName="id" class="formAllign">
                </div>
                <div>
                    <label for="name">
                        Nume
                        <mat-icon class="nameIcon">badge</mat-icon>
                    </label>
                    <input name="name" type="text" formControlName="name" class="formAllign">
                </div>
                <div>
                    <label for="price">
                        Pret
                        <mat-icon class="priceIcon">attach_money</mat-icon>
                    </label>
                    <input price="price" type="number" min="0" formControlName="price" class="formAllign">
                </div>
                <div>
                    <label for="inStock">
                        Produse in stoc
                        <mat-icon class="inStockIcon">inventory</mat-icon>
                    </label>
                    <input inStock="inStock" type="number" min="0" formControlName="inStocks" class="formAllign">
                </div>
                <div>
                    <label for="manufacturer">
                        Producator
                        <mat-icon class="manufacturerIcon">store</mat-icon>
                    </label>
                    <input manufacturer="manufacturer" type="text" formControlName="manufacturer" class="formAllign">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class = "btn" type = "submit" (click) = "onAdd(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
            </div>
          </ng-template>
        <span>&nbsp;</span>
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="triggerModal(modalDataUpdate)">Modifica produs</button>
        <ng-template #modalDataUpdate let-modal>
            <div class="modal-header">
              <h4 class="modal-title title" id="modal-basic-title">Modifica un produs</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="updateForm">
                <div>
                    <label for="id">
                        Id
                        <mat-icon class="idIcon">remember_me</mat-icon>
                    </label>
                    <input id="Id" type="number" min="1" formControlName="id" class="formAllign">
                </div>
                <div>
                    <label for="name">
                        Nume
                        <mat-icon class="nameIcon">badge</mat-icon>
                    </label>
                    <input name="name" type="text" formControlName="name" class="formAllign">
                </div>
                <div>
                    <label for="price">
                        Pret
                        <mat-icon class="priceIcon">attach_money</mat-icon>
                    </label>
                    <input price="price" type="number" min="0" formControlName="price" class="formAllign">
                </div>
                <div>
                    <label for="inStock">
                        Produse in stoc
                        <mat-icon class="inStockIcon">inventory</mat-icon>
                    </label>
                    <input inStock="inStock" type="number" min="0" formControlName="inStocks" class="formAllign">
                </div>
                <div>
                    <label for="manufacturer">
                        Producator
                        <mat-icon class="manufacturerIcon">store</mat-icon>
                    </label>
                    <input manufacturer="manufacturer" type="text" formControlName="manufacturer" class="formAllign">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class = "btn" type = "submit" (click) = "onUpdate(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
            </div>
          </ng-template>
        <span>&nbsp;</span>
        <button mat-stroked-button color="primary" class="mat-menu-content" (click)="triggerModal(modalDataDelete)">Sterge produs</button>
        <ng-template #modalDataDelete let-modal>
            <div class="modal-header">
              <h4 class="modal-title title" id="modal-basic-title">Sterge un produs</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="deleteForm">
                  <div>
                    <label for="id">
                        Id
                        <mat-icon class="idIcon">remember_me</mat-icon>
                    </label>
                    <input id="Id" type="number" min="1" formControlName="id" class="formAllign">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class = "btn" type = "submit" (click) = "onDelete(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
            </div>
          </ng-template>
    </mat-menu>

    <span class="spacer"></span>
    <button mat-button *ngIf="loggedIn" class="button-text" routerLink="/profile" routerLinkActive="active">Profil</button>
    <span>&nbsp;&nbsp;</span>

    <button mat-fab color="warn" (click)="triggerModal(modalDataLogin)" *ngIf="!loggedIn"><mat-icon>login</mat-icon></button>
        <ng-template #modalDataLogin let-modal>
            <div class="modal-header">
                <h4 class="modal-title title" id="modal-basic-title">Log In</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
                </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="loginForm">
                <div>
                  <label for="email">
                    E-mail
                    <mat-icon class="emailIcon">email</mat-icon>
                  </label>
                  <input type="text" formControlName="email" class="form-control formAllign" [ngClass]="{ 'is-invalid': g.email.errors }" />
                  <div *ngIf="g.email.errors" class="invalid-feedback">
                    <div *ngIf="g.email.errors.required">Email is required</div>
                    <div *ngIf="g.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div>
                  <label for="password">
                    Parola
                    <mat-icon class="passwordIcon">password</mat-icon>
                    <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </label>
                  <input matInput [type]="hide ? 'password' : 'text'" password="password" formControlName="password" class="formAllign" [ngClass]="{ 'is-invalid': g.email.errors }">
                  <div *ngIf="g.password.errors" class="invalid-feedback">
                    <div *ngIf="g.password.errors.required">Password is required</div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class = "btn" type = "submit" (click) = "onLogin(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
            </div>
            <div class="newAccount">
                Nu ai cont?
                <button mat-button class="button-text" (click) = "triggerModal(modalDataCreate)">Creeaza un cont nou</button>
                <ng-template #modalDataCreate let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title title" id="modal-basic-title">Creeaza un cont nou</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true"><mat-icon class="icons">exit_to_app</mat-icon></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="newAccountForm">
                        <div class="form-group">
                          <label>
                            Prenume
                            <mat-icon class="firstNameIcon">person</mat-icon>
                          </label>
                          <input type="text" formControlName="firstName" class="form-control formAllign" [ngClass]="{ 'is-invalid':f.firstName.errors }" />
                          <div *ngIf="f.firstName.errors" class="invalid-feedback">
                              <div *ngIf="f.firstName.errors.required">First Name is required</div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label>
                              Nume
                              <mat-icon class="lastNameIcon">person</mat-icon>
                            </label>
                            <input type="text" formControlName="lastName" class="form-control formAllign" [ngClass]="{ 'is-invalid':f.lastName.errors }" />
                            <div *ngIf="f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                          <label>
                            Adresa
                            <mat-icon class="addressIcon">location_on</mat-icon>
                          </label>
                          <input type="text" formControlName="address" class="form-control formAllign" [ngClass]="{ 'is-invalid':f.address.errors }" />
                          <div *ngIf="f.address.errors" class="invalid-feedback">
                              <div *ngIf="f.address.errors.required">Address is required</div>
                          </div>
                        </div>
                        <div>
                            <label for="email">
                                E-mail
                                <mat-icon class="emailIcon">email</mat-icon>
                            </label>
                            <input type="text" formControlName="email" class="form-control formAllign" [ngClass]="{ 'is-invalid': f.email.errors }" />
                            <div *ngIf="f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.required">Email is required</div>
                              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div>
                            <label for="password">
                                Parola
                                <mat-icon class="passwordIcon">password</mat-icon>
                                <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </label>
                            <input matInput [type]="hide ? 'password' : 'text'" password="password" formControlName="password" class="formAllign" [ngClass]="{ 'is-invalid': f.email.errors }">
                            <div *ngIf="f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors.required">Password is required</div>
                              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button class = "btn" type = "submit" (click) = "onCreate(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
                    </div>
                  </ng-template>
            </div>
        </ng-template>
    <button mat-fab color="warn" (click)="onLogout()" *ngIf="loggedIn"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<!-- produse -->