.title{
    font-size: 30px;
}

.idIcon{
    margin-left: 120px;
}

.nameIcon{
    margin-left:94px;
}

.priceIcon{
    margin-left:107px;
}

.inStockIcon{
    margin-left:35px;
}

.manufacturerIcon{
    margin-left:63px;
}

.emailIcon{
    margin-left:94px;
}

.passwordIcon{
    margin-left:57px;
}

.firstNameIcon{
    margin-left:80px;
}

.lastNameIcon{
    margin-left:99px;
}

.addressIcon{
    margin-left:90px;
}