<!DOCTYPE html>
<div class="b">

<button mat-fab class="menuIcons "  routerLink="/" routerLinkActive="active" (click)="onBack()"><mat-icon>home</mat-icon>
</button> </div>

<mat-card class="profileData" >
  <img mat-card-lg-image src="../assets/profil.jpeg"><p class="roleText"><div *ngIf="admin.mobile!=''; else showCustomer">Administrator</div>
    <ng-template #showCustomer>Client</ng-template>
  <mat-card-content>
    <div *ngIf="admin.mobile!=''; else ProfilClient">

      <form [formGroup]="updateAccountForm">
          <div>
              <label>
                  Nume
                  <mat-icon style="margin-left: 100px" class="nameIcon">person</mat-icon>
              </label>
              <input *ngIf="updateForm==false; else showFirstName" disabled value="{{admin.firstName}}" class="formAllign">
              <ng-template #showFirstName>
                  <input type="text" formControlName="firstName" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.firstName.errors }" placeholder="{{admin.firstName}}"/>
              </ng-template>
              
          </div>

          <div>
            <label>
                Prenume
                <mat-icon style="margin-left: 80px"class="nameIcon">person</mat-icon>
            </label>
            <input *ngIf="updateForm==false; else showLastName" disabled value="{{admin.lastName}}" class="formAllign">
            <ng-template #showLastName>
                <input type="text" formControlName="lastName" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.lastName.errors }" placeholder="{{admin.lastName}}"/>
            </ng-template>
            
        </div>
        <div>
            <label for="email">
                E-mail
                <mat-icon style="margin-left: 100px"class="emailIcon">email</mat-icon>
            </label>
            <input *ngIf="updateForm==false; else showEmail" disabled value="{{admin.email}}" class="formAllign">
            <ng-template #showEmail>
                <input type="text" formControlName="email" class="formAllign" [ngClass]="{ 'is-invalid': updateAccountCheck.email.errors }" placeholder="{{admin.email}}" />
            </ng-template>
            <div *ngIf="updateAccountCheck.email.errors" class="invalid-feedback">
                <div *ngIf="updateAccountCheck.email.errors.required">Introduceți adresa de e-mail!</div>
                <div *ngIf="updateAccountCheck.email.errors.email">Adresa de e-mail trebuie să fie validă!</div>
            </div>
        </div>
        <div>
            <label for="mobile">
                Telefon Mobil
                <mat-icon style="margin-left: 50px" class="phoneIcon">phone</mat-icon>
            </label>
            <input *ngIf="updateForm==false; else showPhone" disabled value="{{admin.mobile}}" class="formAllign">
            <ng-template #showPhone>
                <input type="text" formControlName="mobile" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.mobile.errors }" placeholder="{{admin.mobile}}" />
            </ng-template>

        </div>
        <div>
          <label for="landline">
            Telefon Fix       
       <mat-icon style="margin-left: 65px" class="phoneIcon">landline</mat-icon>
        </label>
        <input *ngIf="updateForm==false; else showLandline" disabled value="{{admin.landline}}" class="formAllign">
        <ng-template #showLandline>
            <input type="text" formControlName="landline" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.landline.errors }" placeholder="{{admin.landline}}" />
        </ng-template>
        </div>
          <div>
              <label>
                  Adresa
                  <mat-icon style="margin-left: 93px" class="nameIcon">location_on</mat-icon>
              </label>
              <input *ngIf="updateForm==false; else showAddress" disabled value="{{admin.address}}" class="formAllign">
              <ng-template #showAddress>
                  <input type="text" formControlName="address" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.address.errors }" placeholder="{{admin.address}}"/>
              </ng-template>
              
          </div>

          <div>
              <label>
                 Oraș
                  <mat-icon style="margin-left: 110px" class="nameIcon">location_on</mat-icon>
              </label>
              <input *ngIf="updateForm==false; else showCity" disabled value="{{admin.city}}" class="formAllign">
              <ng-template #showCity>
                  <input type="text" formControlName="city" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.city.errors }" placeholder="{{admin.city}}"/>
              </ng-template>
              
          </div>
          <div>
              <label>
                  Țara
                  <mat-icon style="margin-left: 110px" class="nameIcon">location_on</mat-icon>
              </label>
              <input *ngIf="updateForm==false; else showCountry" disabled value="{{admin.country}}" class="formAllign">
              <ng-template #showCountry>
                  <input type="text" formControlName="country" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.country.errors }" placeholder="{{admin.country}}"/>
              </ng-template>
              
          </div>
          <div>
              <label>
                  Cod Poștal
                  <mat-icon style="margin-left: 70px" class="nameIcon">person</mat-icon>
              </label>
              <input *ngIf="updateForm==false; else showZipcode" disabled value="{{admin.zipcode}}" class="formAllign">
              <ng-template #showZipcode>
                  <input type="text" formControlName="zipcode" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.zipcode.errors }" placeholder="{{admin.zipcode}}"/>
              </ng-template>
              
          </div>

        
          <form [formGroup]="changePasswordForm">
              <div *ngIf="changePassword==true">
                  <label for="password">
                      Parolă
                      <mat-icon  class="passwordIcon">password</mat-icon>
                      <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  </label>
                  <input [type]="hide ? 'password' : 'text'" password="password" formControlName="password" class="formAllign" [ngClass]="{ 'is-invalid': passwordCheck.password.errors }">
                  <div *ngIf="passwordCheck.password.errors" class="invalid-feedback">
                      <div *ngIf="passwordCheck.password.errors.required">Introduceți parola!</div>
                      <div *ngIf="passwordCheck.password.errors.minlength">Parola trebuie să conțina minim 6 caractere!</div>
                  </div>
              </div>
          </form>
      </form>
    </div>
    <ng-template #ProfilClient>

        <form [formGroup]="updateAccountForm">
            <div>
                <label>
                    Nume
                    <mat-icon style="margin-left: 100px" class="nameIcon">person</mat-icon>
                </label>
                <input *ngIf="updateForm==false; else showFirstName" disabled value="{{customer.firstName}}" class="formAllign">
                <ng-template #showFirstName>
                    <input type="text" formControlName="firstName" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.firstName.errors }" placeholder="{{customer.firstName}}"/>
                </ng-template>
                
            </div>
            <div>
                <label>
                    Prenume
                    <mat-icon style="margin-left: 80px"class="nameIcon">person</mat-icon>
                </label>
                <input *ngIf="updateForm==false; else showLastName" disabled value="{{customer.lastName}}" class="formAllign">
                <ng-template #showLastName>
                    <input type="text" formControlName="lastName" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.lastName.errors }" placeholder="{{customer.lastName}}"/>
                </ng-template>
                
            </div>
            <div >
                <label for="email" >
                    E-mail
                    <mat-icon style="margin-left: 100px" class="emailIcon">email</mat-icon>
                </label>
                <input *ngIf="updateForm==false; else showEmail" disabled value="{{customer.email}}" class="formAllign">
                <ng-template #showEmail>
                    <input type="text" formControlName="email" class="formAllign" [ngClass]="{ 'is-invalid': updateAccountCheck.email.errors }" placeholder="{{customer.email}}" />
                </ng-template>
                <div *ngIf="updateAccountCheck.email.errors" class="invalid-feedback">
                    <div *ngIf="updateAccountCheck.email.errors.required">Introduceți o adresă de e-mail!</div>
                    <div *ngIf="updateAccountCheck.email.errors.email">Adresa de e-mail trebuie să fie validă!</div>
                </div>
            </div>
            <div>
                <label>
                    Adresa
                    <mat-icon style="margin-left: 95px" class="nameIcon">location_on</mat-icon>
                </label>
                <input *ngIf="updateForm==false; else showAddress" disabled value="{{customer.address}}" class="formAllign">
                <ng-template #showAddress>
                    <input type="text" formControlName="address" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.address.errors }" placeholder="{{customer.address}}"/>
                </ng-template>
                
            </div>
  
            <div>
                <label>
                 Oraș
                    <mat-icon style="margin-left: 110px" class="nameIcon">location_on</mat-icon>
                </label>
                <input *ngIf="updateForm==false; else showCity" disabled value="{{customer.city}}" class="formAllign">
                <ng-template #showCity>
                    <input type="text" formControlName="city" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.city.errors }" placeholder="{{customer.city}}"/>
                </ng-template>
                
            </div>
            <div>
                <label>
                    Țara
                    <mat-icon style="margin-left: 110px" class="nameIcon">location_on</mat-icon>
                </label>
                <input *ngIf="updateForm==false; else showCountry" disabled value="{{customer.country}}" class="formAllign">
                <ng-template #showCountry>
                    <input type="text" formControlName="country" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.country.errors }" placeholder="{{customer.country}}"/>
                </ng-template>
                
            </div>
            <div>
                <label>
                    Cod Poștal
                    <mat-icon style="margin-left: 70px" class="nameIcon">person</mat-icon>
                </label>
                <input *ngIf="updateForm==false; else showZipcode" disabled value="{{customer.zipcode}}" class="formAllign">
                <ng-template #showZipcode>
                    <input type="text" formControlName="zipcode" class="formAllign" [ngClass]="{ 'is-invalid':updateAccountCheck.zipcode.errors }" placeholder="{{customer.zipcode}}"/>
                </ng-template>
                
            </div>
  
            
            
            <form [formGroup]="changePasswordForm">
                <div *ngIf="changePassword==true">
                    <label for="password">
                        Parola
                        <mat-icon class="passwordIcon">password</mat-icon>
                        <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </label>
                    <input [type]="hide ? 'password' : 'text'" password="password" formControlName="password" class="formAllign" [ngClass]="{ 'is-invalid': passwordCheck.password.errors }">
                    <div *ngIf="passwordCheck.password.errors" class="invalid-feedback">
                        <div *ngIf="passwordCheck.password.errors.required">Introduceți parola!</div>
                        <div *ngIf="passwordCheck.password.errors.minlength">Parola trebuie să contină minim 6 caractere</div>
                    </div>
                </div>
            </form>
        </form>
    </ng-template>

  </mat-card-content>

  <mat-card-actions class="profileActions">
      <button mat-button class="button-text" (click) = "onChangePassword()">Schimbă parola&nbsp;&nbsp;<mat-icon>edit</mat-icon></button>
      <button mat-button *ngIf="updateForm==false && changePassword==false" class="button-text" (click) = "onAccountUpdate()" style="margin-left: 20px;">Actualizare cont&nbsp;&nbsp;<mat-icon>edit</mat-icon></button>
      <button mat-button *ngIf="updateForm==true || changePassword==true" class="button-text" (click) = "onSaveAccountUpdate(); triggerModal(modalConfirmAccountUpdate)" style="margin-left: 87px;">Salvare date&nbsp;&nbsp;<mat-icon>edit</mat-icon></button>
      <ng-template #modalConfirmAccountUpdate let-modal>
          <div class="modal-body">
              Contul a fost actualizat!
          </div>
      </ng-template>
    </mat-card-actions>
    

</mat-card>


