<!DOCTYPE html>
 
 
<div class="panel-header panel-header-sm">
</div>
 
<div class="main-content">
 <div class="card">
   <div class="card-header">
     <h5 class="">
         <button mat-fab class="menuIcons"  routerLink="/" routerLinkActive="active" (click)="onBack()"><mat-icon>login</mat-icon>
           <mat-icon>home</mat-icon></button>
     </h5>
             <h5 class="title"><b> Profilul meu</b></h5>
   </div>
           <div class="card-body">
             <form>
               <div class="row">
                 <div class="col-md-5 pr-0">
                   <div class="form-group">
                     <label></label>
                     <input type="text" class="form-control"  disabled="" placeholder="" value="Adauga o adresa noua">
                   </div>
                 </div>
                 <div class="col-md-3 px-1">
                   <div class="form-group" class="">
                     <label>Username</label>
                     <input type="text" class="form-control"  placeholder="Username" value="{{admin.firstName}}{{customer.firstName}}">
                   </div>
                 </div>
                 <div class="col-md-4 pl-1">
                   <div class="form-group" class="">
                     <label for="email">Email </label>
                     <input name="email" id="email" type="email" class="form-control" placeholder="Email" value="{{admin.email}}{{customer.email}}">
                   </div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-6 pr-1">
                   <div class="form-group" class="">
                     <label>Nume</label>
                     <input type="text" class="form-control" placeholder="Nume" value="{{admin.firstName}}{{customer.firstName}}">
                   </div>
                 </div>
                 <div class="col-md-6 pl-1">
                   <div class="form-group" class="">
                     <label>Prenume</label>
                     <input type="text" class="form-control" placeholder="Prenume" value="{{admin.lastName}}{{customer.lastName}}">
                   </div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-12">
                   <div class="form-group" class="">
                     <label>Adresa</label>
                     <input type="text" class="form-control" placeholder="Adresa" value="">
                   </div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-4 pr-1">
                   <div class="form-group" class="">
                     <label>Oras</label>
                     <input type="text" class="form-control" placeholder="Oras" value="">
                   </div>
                 </div>
                 <div class="col-md-4 px-1">
                   <div class="form-group" class="">
                     <label>Tara</label>
                     <input type="text" class="form-control" placeholder="Tara" value="">
                   </div>
                 </div>
                 <div class="col-md-4 pl-1">
                   <div class="form-group" class="">
                     <label>Cod postal</label>
                     <input type="number" class="form-control" placeholder="Cod postal">
                   </div>
                 </div>
               </div>
 
             </form>
             <!-- <button class="button" type="submit" (click)="onSave()">Salvare date</button> -->
 
           </div>
 
        
    
 
     </div>
     <mat-toolbar class="toolbar" class="sendIcos">
           <ng-template #modalDataLogin let-modal>
           <div class="modal-footer">
               <button class = "btn" type = "submit" (click)="onBack(); modal.dismiss('Cross click')"><mat-icon class="icons">send</mat-icon></button>
           </div>
           </ng-template>
     </mat-toolbar>
      
           <mat-toolbar class="sendIcon" >     
            <button mat-fab class="menuIcons"  type="submit" ><mat-icon >send</mat-icon></button>
           </mat-toolbar>
          
</div>
<div>
   <mat-toolbar class="toolbar" class="">
        <span>&nbsp;&nbsp;</span>
       <button mat-fab class="menuIcons" [matMenuTriggerFor]="menu" ><mat-icon >menu</mat-icon></button>
       <mat-menu #menu="matMenu" class="mat-menu-size" >
         <mat-list>
           <!-- <mat-list-item class="menuIcons"><button mat-mini-fab class="menuIcons" (click)="onFavorite" class="menuIcons"><mat-icon  >favorite_border</mat-icon>    Favorite</button></mat-list-item>
           <li *ngFor="let item of items">
               <mat-list-item>
                 <button mat-icon-button (click)="removeCartItem(item)" class="pinkColor"><mat-icon class="pinkColor">favorite_border</mat-icon></button>&nbsp;&nbsp;&nbsp;
                 {{item.name}}: {{item.price}} RON
               </mat-list-item>
               <mat-divider class="cart-size"></mat-divider>
             </li> -->
           <mat-list-item><button mat-button class="mat-menu-content" (click)="onCard" class="menuIcons"><mat-icon>card_membership</mat-icon>    Card de reducere</button></mat-list-item>
         </mat-list>
        </mat-menu>
    </mat-toolbar>
 
</div>
<!-- <div class="likeItem">
<mat-toolbar class="sendIcon"  >
<button mat-fab class="menuIcons"  ><mat-icon >thumb_up</mat-icon></button><button mat-fab class="menuIcons"  ><mat-icon >thumb_down</mat-icon></button>
</mat-toolbar>
</div> -->
