/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-container{
    z-index: 9999 !important;
}
  
.cdk-global-overlay-wrapper{
    z-index:1000 !important;
}

.spacer{
    flex: 1 1 auto;
}

.mat-menu-content{
    font-size: 17px;
}
  
.mat-menu-size{
    height: 380px;
    width: 260px;
    border-style: solid;
    border-width: 4px;
}

.mat-modify-size{
    height: 200px;
    width: 260px;
    border-style: solid;
    border-width: 4px;
}

.formAllign{
    float: right;
    clear:both;
    width: 300px;
}

.passAllign{
    width: 260px;
}

.center {
    margin-left: 245%;
}

.button-text{
    font-size: 20px;
}

.formAllign{
    float: right;
    clear:both;
    width: 300px;
}
  
.newAccount{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.cart-size{
    width: 250px;
}

.carousel{
    width: 1176px;
    margin: auto;
}

.carouselPics{
    border-color: black;
    border-width: 2px;
}